@using Store.ViewModel;

@{
    ViewBag.Title = "Cart";
    List<TR_Cart_Response> Cart = (ViewBag.VCart != null) ? (List<TR_Cart_Response>)ViewBag.VCart : new List<TR_Cart_Response>();

}

<div class="container py-5">
    <div class="col">

        @if (Cart == null)
        {
            <div class="card shadow-sm py-5">
                <h2 class="card-title">No item in Cart</h2>
            </div>
        }
        else
        {
            foreach (var item in Cart)
            {
                int total = 0;
                total = Convert.ToInt32(item.Price) * Convert.ToInt32(item.Quantity);
                <form method="post" name="ItemCart">
                    <div class="card shadow-sm mb-3">
                        <table class="table table-borderless align-middle text-center" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Photo</th>
                                    <th>Product Name</th>
                                    <th>Product Price</th>
                                    <th>Quantity</th>
                                    <th>Total Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input name="CheckCart" data-CartID="@item.CartID_PK" onchange="changeCheckbox(this)" type="checkbox" />
                                    </td>
                                    <td>
                                        @if (item.ProductImage == null)
                                        {
                                            <img style="height:200px; width:200px" role="img" src="~/Content/images/NoProductImage.png" />
                                        }
                                        else
                                        {
                                            <img style="height:200px; width:200px" role="img" src="~/Content/images/NoProductImage.png" />
                                        }
                                    </td>
                                    <td>@item.ProductName</td>
                                    <td>@string.Format("{0:c}", item.Price)</td>
                                    <td><input type="number" max="@item.Stock" min="0" data-CartID="@item.CartID_PK" data-UserName="@item.UserName" data-url="@Url.Action("UpdateCart", "Cart")" data-Price="@item.Price" onchange="AddQuantity(this)" value="@item.Quantity" /></td>
                                    <td>
                                        <input type="text" name="TotalPrice" disabled value="@string.Format("{0:c}", total)"/>
                                    <td>
                                    <td>
                                        <button class="btn btn-danger" data-CartID="@item.CartID_PK" data-UserName="@item.UserName" data-url="@Url.Action("DeleteCart", "Cart")" onclick="DeleteCart(this)"><span class="bi-trash"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            }
        }

        <div class="container">
            <label id="lblTotalPayment" class="form-control"></label>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Checkout","Checkout")'"><span class="bi-wallet">Check Out</span></button>
        </div>
    </div>
</div>



