@using Store.ViewModel;

@{
    ViewBag.Title = "Home Page";
    List<MS_Product_Response> Products = (ViewBag.VProducts != null) ? (List<MS_Product_Response>)ViewBag.VProducts : new List<MS_Product_Response>();


}
    
        <div id="myCarousel" class="carousel slide pt-4" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Example headline.</h1>
                            <p>Some representative placeholder content for the first slide of the carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>Some representative placeholder content for the second slide of the carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>One more for good measure.</h1>
                            <p>Some representative placeholder content for the third slide of this carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    
        <!--Items-->


        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <!--item -->
                    @foreach (var prod in Products)
                    {
                        <div class="col">
                            <div class="card shadow-sm">
                                @if (prod.ProductImage == null)
                                {
                                    <img class="bd-placeholder-img card-img-top img" role="img" src="~/Content/images/NoProductImage.png" />
                                }
                                else
                                {
                                    <img class="bd-placeholder-img card-img-top img" role="img" src="~/Content/images/NoProductImage.png" />
                                }
                                <div class="card-body">
                                    <h4 class="card-title">@prod.ProductName</h4>

                                    <p class="card-text">@prod.Description</p>
                                    <div class="d-flex justify-content-between align-items-center float-end">
                                        <h5 class="card-title">@string.Format("{0:c}", prod.Price)</h5>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button id="btnAddToCart" type="button" class="btn btn-sm btn-outline-info"
                                            data-dProductID= @prod.ProductID_PK 
                                            data-dUserID="@Convert.ToInt32(Session["UserID"])"
                                            data-dUserName="@Session["UserName"].ToString()"
                                            data-dUrl="@Url.Action("AddToCart","Cart")"
                                            onclick="AddToCart(this)">Add To Chart</button>
                                        @Html.ActionLink("Open Detail", "btnOpenDetail", new { ProductID_PK = prod.ProductID_PK }, new { @class = "btn btn-sm btn-outline-warning float-end" })
                                    @*<button type="button" class="btn btn-sm btn-outline-warning float-end">Open Detail</button>*@

                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    